body {
    height: 100vh;
    padding: 10px;

    background-image: linear-gradient(to right, rgba(249, 216, 216, 0.4), rgba(245, 200, 200, 0.2)),
             url(../public/coffee.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
};
